$primarybutton:hsl(184, 36%, 74%);
$textcolor: white;
header{
    background: lightblue;
    display: flex;
    justify-content: center;
}

button{
    background: $primarybutton;
    color: $textcolor;

}